@model Temel.Nortwind.MVCUI.Models.CategoryListViewModel

@{
    ViewData["Title"] = "View";
}

<div class="list-group">
   @foreach(var category in Model.Categories)
   {
    <a class="list-group-item" href="#">@category.CategoryName</a>
   }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

